{% extends "base.html"%}

{% block logs %} 

<div class="Mycard">
  <div class="ImgBx">

  </div>
  <div class="ContentBx">
    {% if not ok %}
      <p>Sorry! Account with provided email already exists. Please enter another email</p>
    {% endif %}
    <form action="" method="POST" onsubmit="return checkEqual()">
      <h2 align="center" >Create New Account:</h2>
      <h5>Type Of Account</h5>
      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="type" id="exampleRadios1" value="a"Customer" checked>
        <label class="form-check-label" for="exampleRadios1">
          Customer
        </label>
      </div>

      <div class="form-check form-check-inline">
        <input class="form-check-input" type="radio" name="type" id="exampleRadios2" value="Seller">
        <label class="form-check-label" for="exampleRadios2">
          Seller
        </label>
      </div>
 
      <br>
      <div class="form-group">
        <label for="name">Name</label>
        <input type="text" class="myInput" id="name" name="name" placeholder="Enter Your Name" required>
      </div>
      <div class="form-group">
        <label for="email">Email</label>
        <input type="email" class="myInput" id="email" name="email" placeholder="Enter Your Email" required>
      </div>
      <div class="form-group">
        <label for="phone">Phone No.</label>
        <input type="tel" class="myInput" id="phone" name="phone" placeholder="Enter Your Phone number" required>
      </div>
      <h5>Address Details</h5>
      <div class="form-group">
        <label for="area">LandMark/Area</label>
        <input type="text" class="myInput" id="area" name="area" placeholder="Enter Your Area" required>
      </div>
      <div class="form-group">
        <label for="locality">Locality</label>
        <input type="text" class="myInput" id="locality" name="locality" placeholder="Enter Your Address" required>
      </div>
      <div class="form-group">
        <label for="city">City</label>
        <input type="text" class="myInput" id="city" name="city" placeholder="Enter Your City" required>
      </div>
      <div class="form-group">
        <label for="state">State</label>
        <input type="text" class="myInput" id="state" name="state" placeholder="Enter Your State" required>
      </div>
      <div class="form-group">
        <label for="country">Country</label>
        <input type="text" class="myInput" id="country" name="country" placeholder="Enter Your Country" required>
      </div>
      <div class="form-group">
        <label for="zip">Zip Code</label>
        <input type="text" class="myInput" id="zip" name="zip" placeholder="Enter Your Area Code" required>
      </div>
      <div class="form-group">
        <label for="password">Enter Password</label>
        <input type="password" class="myInput" id="password" name="password" placeholder="Enter Your Password" required>
      </div>
      <div class="form-group">
        <label for="cnfrm_psswd">Confirm Password</label>
        <input type="password" class="myInput" id="cnfrm_psswd" name="cnfrm_psswd" placeholder="Confirm Password" required>
      </div>
      <br>
      <input type="submit" class="btn" value="Create Account" ></p>
      
    </form>
  </div>
</div>




{% endblock %}

<!-- <html>
<head>
  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
  <link href="https://fonts.googleapis.com/css?family=Acme|K2D" rel="stylesheet">
  <link rel='icon' href="{{url_for('static', filename='logo.png')}}">
</head>
<body>
  <div class="sticky">
    <h1>OnLineShop</h1>
  </div>
  <div class="nav">
    <p><a href="/">Home</a> > <a href="">Create Account</a></p>
  </div>
  {% if not ok %}
    <p>Sorry! Account with provided email already exists. Please enter another email</p>
  {% endif %}
  <form action="" method="POST" onsubmit="return checkEqual()">
    <h2>Create New Account:</h2>
    <table>
    <tr>
      <td>TYPE OF ACCOUNT: </td>
      <td>
        <input type="radio" value="Customer" name="type" checked>Customer &nbsp &nbsp <input type="radio" value="Seller" name="type">Seller
      </td>
    </tr>
    <tr>
      <td>NAME :</td><td><input type="text" name="name" required></td>
    </tr>
    <tr>
      <td>EMAIL :</td><td><input type="email" name="email" required></td>
    </tr>
    <tr>
      <td>PHONE :</td><td><input type="tel" name="phone" required></td>
    </tr>
    <tr>
      <td><b>ADDRESS:</b></td>
    </tr>
    <tr>
      <td>LANDMARK/AREA:</td><td><input type="text" name="area" required></td>
    </tr>
    <tr>
      <td>LOCALITY :</td><td><input type="text" name="locality" required></td>
    </tr>
    <tr>
      <td>CITY :</td><td><input type="text" name="city" required></td>
    </tr>
    <tr>
      <td>STATE :</td><td><input type="text" name="state" required></td>
    </tr>
    <tr>
      <td>COUNTRY :</td><td><input type="text" name="country" required></td>
    </tr>
    <tr>
      <td>ZIPCODE :</td><td><input type="text" name="zip" required></td>
    </tr>
    <tr>
      <td>ENTER PASSWORD :</td><td><input type="password" name="password" required></td>
    </tr>
    <tr>
      <td>RE-ENTER PASSWORD :</td><td><input type="password" name="cnfrm_psswd" required></td>
    </tr>
    </table>
    <p><input type="submit" value="SUBMIT" style="display:block; margin-left:auto; margin-right:auto; margin-top:1vw;"></p>
    <script type="text/javascript" src="{{url_for('static', filename='main.js')}}"></script>
  </form>
</body>
</html> -->



